@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
@import "react-toastify/dist/ReactToastify.css";
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
@import "react-toastify/dist/ReactToastify.css";

// Css resets
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-width: 1320px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

img,
svg {
    max-width: 100%;
}

nav.navbar.navbar-expand.navbar-light {
    font-size: 14px;
}

#App {
    min-height: 100vh;

    .cBox {
        width: 90vw;
        margin: 0 auto;
    }

    .map-container {
        width: 90vw;
        height: 60vh;
    }

    .filter-list {
        width: 90%;
        margin: 0 auto;
    }

    .list-group {
        .list-item {
            background-color: rgb(254, 252, 252);
            border: 1px solid rgba(128, 128, 128, 0.198);

            .list-item-image {
                width: 6em;
                object-fit: cover;
            }

            .list-item-heading {
                margin-bottom: 0;
            }

            .list-item-text {
                margin: 0;
                font-size: 0.75rem;
            }
        }

        .line {
            border-left: 4px solid crimson;
            border-radius: 16px;
            height: 50px;
            margin: auto 0;
        }
    }
    .form-container {
        width: 80%;
        margin: 2rem auto;
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        max-width: 768px;

        .form-label {
            margin: 0;
        }

        .input-error {
            color: rgb(192, 0, 38);
            font-size: 0.85rem;
        }

        .line {
            border-bottom: 4px solid crimson;
            border-radius: 16px;
            width: 250px;
            margin: 1rem auto;
        }
    }

    .card {
        border: none;

        .shadow {
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }

        .card-heading {
            font-size: 1.5rem;
            margin: 0;
        }

        .card-text {
            font-size: 0.85rem;
        }

        .line {
            border-bottom: 4px solid crimson;
            border-radius: 16px;
            width: 100px;
            margin: 1rem auto;
        }

        .link {
            color: crimson;
            margin: 1rem 0;
        }
    }

    .banner {
        // background-color: rgb(246, 132, 155);
        background-color: rgba(220, 20, 60, 0.951);
        color: white;
    }

    .details-subheading {
        font-weight: bold;
    }

    .fa-icon {
        font-size: 1.5rem;
    }

    .search-form-container {
        // position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
        width: 35%;
        background-color: white;
        border-radius: 16px;
        .search-form {
            display: flex;
            border: 1px solid rgb(142, 142, 142);
        }
        .search-input {
            width: 100%;
            border: none;
        }

        .search-form-submit {
            background-color: white;
            padding: 0.25rem 1rem;
            border: none;
        }
    }

    .button-selected {
        padding: 0.25rem 0.5rem;
        background-color: crimson;
        color: white;
        border: none;
    }

    .button-not-selected {
        padding: 0.25rem 0.5rem;
        border: 1px solid crimson;
        background: none;
    }

    @media screen and (min-width: 968px) {
        width: 90%;
        margin: 0 auto;

        .banner {
            flex-direction: row;
            width: 100vw;
            height: 250px;
            max-width: 100%;
        }

        .card-wrapper {
            display: flex;
            width: 100%;
            gap: 0.5rem;
            justify-content: center;

            .card {
                width: 50%;
            }
        }
        .form-columns {
            display: flex;
            justify-content: space-evenly;
        }

        .map-page-container {
            display: flex;
            flex-direction: row-reverse;
            gap: 1rem;
        }

        .cBox {
            width: 60vw;
        }
        .map-container {
            width: 60vw;
            height: 90vh;
        }

        .list-group {
            height: 40vh;
            overflow-y: scroll;
        }
    }
}
